
src/settings/__init__.py
src/settings/prod.py

src/var/dev.db
src/var/*.csv
src/var/media
src/deb.db
*.sql

# cpp compiled
*.out
*.o

# backupfile
*~

*.mp3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


*.pyc
*.egg-info
src/settings/local.py
src/settings/local/*
docs/_build
.idea
src/static/bower/
src/var/static/
