src/settings/__init__.py
src/settings/prod.py

src/var/dev.db
src/var/*.csv
src/deb.db

# cpp compiled
*.out
*.o

# backupfile
*~

*.mp3

*.pyc
*.egg-info
src/settings/local.py
src/settings/local/*
docs/_build
.idea
src/static/bower/
src/var/static/