{% load static from staticfiles %}
<div class="row">
  <p class="center">

    Hosted by <a href="https://www.digitalocean.com/?refcode=d3f37d4d26c8" class="std-mr10">DigitalOcean</a>
    &copy;&nbsp;{% now "Y" %} <span class="std-mr10">Michael Fan</span>
    <a href="https://github.com/micfan/dinner/" style="display: inline-block;">
      <img src="{% static 'img/logo/GitHub-Mark/PNG/GitHub-Mark-32px.png' %}" style="height: 18px;position: relative; top: -2px;">
    </a>
  </p>
</div>

{#<footer>#}
{##}
{#    <p class="center">&copy;&nbsp;{% now "Y" %} Michael Fan</p>#}
{##}
{#</footer>#}