{% load static from staticfiles %}
{% load compress %}

{% compress js %}
  <script src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
  <script>
    {% if debug %}
      window.__debug = true;
      window.__FEErrorReportUrl = {% url 'public:fe_report_url' %}
    {% else %}
      window.__debug = true;
      /// 百度统计
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?489cf5f55a401d34626b48e87d10550c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    {% endif %}
  </script>
  <script src="{% static 'bower/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bower/vue/dist/vue.min.js' %}"></script>
  <script src="{% static 'js/g.js' %}"></script>
  <script src="{% static 'js/log.js' %}"></script>
{% endcompress %}

{% block js %}
{% endblock %}