{% with path=request.path %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
{#    todo: 抽象出样式类来，或者切换别的设计#}
      <a class="navbar-brand" style="{% if request.path == '/'%}color: #fff;background-color: transparent;{% endif %}" href="/" class="active">首页</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if path == '/dinner/'%}class="active"{% endif %}><a href="{% url 'dinner:index' %}">晚餐预订</a></li>
        <li><a href="/static/game/2048/2048.html">娱乐</a></li>
        <li {% if path == '/h/about/'%}class="active"{% endif %}><a href="/h/about/">关于我们</a></li>
        {% if user.is_authenticated %}
          <li class="dropdown pull-right">
<!--                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=" style="width: 30px; height: 30px;"></a> -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
{#                  <li><a href="#">Action</a></li>#}
{#                  <li><a href="#">Another action</a></li>#}
              <li><a href="{% url 'profile' %}">我的账号</a></li>
              <li><a href="/h/help/">帮助</a></li>
              <li class="divider"></li>
              <!--<li class="dropdown-header">Nav header</li>-->
{#                  <li><a href="/setup/">设置</a></li>#}
              <li><a href="/logout/">退出</a></li>
            </ul>
          </li>
        {% else %}
          <li class="pull-right"><a href="/login/">登录</a></li>
{#          <li class="pull-right"><a href="/signup/">注册</a></li>#}
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% endwith %}