{% extends "base/base.html" %}
{% load static from staticfiles %}
{% block title %}晚餐预定{% endblock %}
{% block body %}

<div class="dinner">
  <div class="alert alert-info">{{ now }}
    请点击您需预订晚餐的日期标蓝即可。
    {% if not curr_cal.is_holiday %}
      <strong>今日晚餐：<a href="{% if curr_provider.url %}{{ curr_provider.url }}{% else %}javascript:void(0);{% endif %}"
      title="{{ curr_provider.location }}" target="_blank">{{ curr_provider.name }}</a></strong>，今日已预订
      <span id="order_count">{{ order_count }}</span>人，
      晚餐预定截止时间<span class="text-danger">{{ deadline_hour }}:00</span>，当前报名
      <span class="text-danger">{{ deadline_curr_text }}</span>
    {% else %}
{#      todo: curr_cal.holiday_mark#}
      <strong>今日{{ curr_cal.holiday_mark }}，不订晚餐
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title center">{{ curr_cal.year }}年{{ curr_cal.month }}月</h3>
        </div>
        <div class="panel-body">
          <ul class="week-bar">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li class="weekend">六</li>
            <li class="weekend">日</li>
          </ul>
          <ul class="week-cell">
          {% for cal in frirst_week_place_holder %}
              <li class=""></li>
          {% endfor %}

          {% for cal in this_month_cals %}
              <li class="{% if user.is_authenticated and not cal.is_holiday %}
                        {% if cal.day > curr_cal.day %}is-changeable
                        {% elif cal.day == curr_cal.day and curr_now.hour < deadline_hour %}is-changeable
                        {% endif %}
                    {% endif %}

                 {% if cal.has_booked %}has_booked
                 {% endif %}

                 {%if cal.id == curr_cal.id %}today
                 {% endif %}" cal-id="{{ cal.id }}
                 ">{{ cal.day }}</li>

          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}

{% block js %}

    <script src="{% static 'js/dinner.js' %}"></script>

{% endblock %}
