html, body {
  height: 100%;
}

/* todo: 登录表单css动画*/




.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.wrapper {
  padding-top: 20px;
  min-height: 100%;

}

.color-gray { color: darkgray;}

.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
ul {
  list-style:none;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase {
  margin: 5px 0;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar {
  min-height: 28px;
}

.navbar-brand {
  padding: 0 12px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
}

.navbar-nav > li >a {
  line-height: 28px;

}
.navbar-inverse .navbar-nav>.active>a {
  background: none;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background: none;
}
.nav>li>a {
    display: inline;
    padding: 0 12px;
}
.nav .message {}
.nav .message:hover {
    cursor: pointer;
}

/*.navbar-fixed-top {*/
  /*max-height: 28px;*/
/*}*/

.navbar-nav {
  float: none;
}

/* -------------- sidebar ---------------*/
@media (min-width: 768px) {
.sidebar {
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
/* Sidebar navigation */
.nav-sidebar {

}
.nav-sidebar > li:last-child {
  border-bottom: none;
}
.nav-sidebar > li {
    border-bottom: 1px solid #d8d8d8;
}
.nav-sidebar > li > a {
  padding: 8px 10px;

  /*padding: 9px 10px 10px;*/
  font-size: 14px;
  line-height: 18px;
  display: block;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  font-weight: bold;
  color: #222;
  cursor: default;
  background-color: #fff;
}

.nav-sidebar > .active > a:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  background-color: #d26911;
}



.box {
  background-color: #fff;
  border-radius: 3px;
  /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); */
  /*border-bottom: 1px solid #e2e2e2;*/
  /*border-right: 1px solid #e2e2e2;*/
  border: 1px solid #e2e2e2;
}

/*
 * SideBar - content
 */

/*todo:加入sidebar命名空间*/
.content {
  margin: 0 0 20px 10px;
  padding: 0;
  width: 80%;
}
@media (min-width: 768px) {
  .content {
    padding: 0;
    margin: 0 0 20px 10px;
  }
}
.content .box-header {
  background-color: #f5f5f5;
  margin: 0;
  /*border-radius: 3px 3px 0 0;*/
  /*border: 1px solid #d8d8d8;*/
  border-bottom: 1px solid #d8d8d8;
  /*border-right: 1px solid #d8d8d8;*/
  /*border-left: 1px solid #d8d8d8;*/

  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.content .box-list {
  padding: 0;
  margin: 0;
}
.content .box-list .item {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
.content .box-list .item label {
  text-align: right;
  width: 80px;
  margin-right: 5px;
}
.content .box-body {
  padding: 1px 10px;
  background: #fff;
  /*border: 1px solid #d8d8d8;*/
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

/* Message List */
.content .box-body .list-group {
  margin-bottom: 0;
}
.content .box-body .list-group .list-group-item:first-child {
  border-top: none;
}
.content .box-body .list-group .list-group-item {
  border-left: none;
  border-right: none;
}
.content .box-body .list-group .list-group-item:last-child {
  border-bottom: none;
}
.content .box-body .list-group .list-group-item {
  border-bottom: 1px solid #ddd;
}

.btn-linear-gradient-fc {
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
}

.sidebar .box-header {
  background-color: #f5f5f5;
  margin: 0;
  /*border-radius: 3px 3px 0 0;*/
  /*border: 1px solid #d8d8d8;*/
  border-bottom: 1px solid #d8d8d8;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
}


/* -------------- page dinner -----------*/
.dinner {}
.dinner .panel-body .week-bar {
  padding-left: 0;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}
.dinner .panel-body .week-bar li {
  float: left;
  width: 14%;
  margin-bottom: 10px;
  text-align: center;
}

.dinner .panel-body {
    padding: 5%;
}

.dinner .panel-body .week-bar, .week-cell {
  padding-left: 0;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
.dinner .panel-body .week-cell li {
  border-radius: 4px;
  float: left;
  width: 13%;
  /*height: 4em;*/
  line-height: 3em;
  /*padding: 15px;*/
  margin: 0.5%;
  text-align: center;
  font-size: 1em;
}
.dinner .panel-body .week-cell li.holiday {
  background-color: #f5f5f5;/* #faebcc;*/
}

.dinner .panel-body .weekend {
    color: #e02d2d;
}
.dinner .panel-body .week-cell li.workday:hover {
  /*background-color: #eee; #f5f5f5; #dff0d8;*/
}

.dinner .panel-body .week-cell li.is-changeable:hover {
  background-color: #eee;  /*#f5f5f5; #dff0d8;*/
  cursor: pointer;
}

.dinner .panel-body .week-cell .has_booked {
  background-color: #428bca;
  color: white;
}
.dinner .panel-body .week-cell .has_booked:hover {
  background-color: #428bca;

}
.dinner .panel-body .week-cell .today {
    transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;border-color:#ed9c28;
    box-shadow:0 0 12px #ed9c28;
    -moz-box-shadow:0 0 12px #ed9c28;
    -webkit-box-shadow:0 0 12px #ed9c28;
    /*background-color: #fb0 !important;*/
}

/*错误信息*/
ul.errorlist {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*找回密码*/
form #id_email {
  display: inline;
  width: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form #id_email ~ input[type=submit] {
  display: inline;
  padding: 6px 12px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;


}

form #id_email ~ input[type=submit]:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}


/*重置密码*/
form input[name^=new_password] {
  display: inline;
  width: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form p > input[type=submit] {
  display: inline;
  padding: 6px 12px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;


}

form p > input[type=submit]:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/*标准列表1*/
.std-list1 li { border-top: 1px solid #ddd;}
.std-list1 .odd { background-color: #f9f9f9;}
.std-list1 .even {}

/*标准列表2*/
.std-list2 li { border-top: 1px solid #ddd;}
.std-list2 .odd { background-color: #f9f9f9;}
.std-list2 .even {}


/*标准边距*/
.std-mr5 {margin-right: 5px;}
.std-ml5 {margin-left: 5px;}
.std-mr10 {margin-right: 10px;}

/*Profile Page*/
.profile-avatar { width: 100%; min-width: 210px; min-height: 190px; }

/* File upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

