{% extends "base/base.html" %}
{% load static from staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock%}

{% block body %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <div class="login-container">
      <form class="form-signin" role="form" action="/login/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username or E-mail" required="" autofocus=""
               name="email" value="{{ email }}">
        <input type="password" class="form-control" placeholder="Password" required="" name="password">
        <input type="hidden" name="next" value="{{ next }}{{ request.GET.next }}">
        <a class="forgot-password" href="{% url 'password_reset' %}">忘记密码?</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
{#    <div class="form-signin">#}
{#      <a href="{% url 'public:github' %}" style="display: inline-block;">#}
{#        <img src="{% static 'img/logo/GitHub-Mark/PNG/GitHub-Mark-32px.png' %}" style="height: 18px;position: relative; top: -2px;">#}
{#      </a>#}
{#    </div>#}

   </div>
{% endblock %}


