{% extends 'base/base_sidebar.html' %}
{% load static from staticfiles %}
{% load compress %}
{% block title %}{{ user.username }}的账号{% endblock %}
{# TODO: CSS class it #}
{% block header %}我的资料<button class="btn btn-default btn-sm" style="float: right; margin-top: -6px;">Edit</button>{% endblock %}
{% block content %}
  <ul class="box-list col-sm-9">
    <li class="item">
      <label>CnName:</label>
      <span>{{ user.cn_name|default:'' }}</span>
    </li>
    <li class="item">
      <label>Username:</label>
      <span>{{ user.username }}</span>
    </li>
    <li class="item">
      <label>Email:</label>
      <span>{{ user.email|default:'' }}</span>
    </li>

    <li class="item">
      <label>ID:</label>
      <span>{{ user.idcard_no|default:'' }}</span>
    </li>
    <li class="item">
      <label>Telephone:</label>
      <span>{{ user.telephone|default:'' }}</span>
    </li>
    <li class="item">
      <label>Org:</label>
      <span>{{ user.org.name|default:'' }}</span>
    </li>
    {#  todo: gravator, 多国语言#}
    <li class="item">
      <label>Language:</label>
      <span>{{ user.lang|default:'中文简体' }}</span>
    </li>
  </ul>
  <div class="col-sm-3 text-center">
    {% with default_avatar='/static/img/avatar/normal/panda_king.jpg' %}
      <img src="{{ user.get_avatar|default:default_avatar }}"
        class="profile-avatar">
      <form action="{% url 'public:avatar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="btn btn-default btn-file">
          Upload <input type="file" name="file" onchange="this.form.submit()">
        </span>
{#        <input type="submit" class="btn btn-default" >#}
      </form>

    {% endwith %}
  </div>



{#  <div id="editor">#}
{#  <textarea v-model="input" debounce="300"></textarea>#}
{#  <div v-html="input | marked"></div>#}
{#</div>#}

{% endblock %}

{% block js %}
  {% compress js %}
    <script src="{% static 'js/profile.js' %}"></script>
  {% endcompress %}
{% endblock %}
