{% extends 'base/base_sidebar.html' %}
{% load static from staticfiles %}
{% load compress %}
{% block title %}{{ user.username }}的账号{% endblock %}
{% block header %}我的资料{% endblock %}
{% block content %}
{#  todo: gravator, 多国语言#}


  <ul>
    <li>
      <label>Username:</label><span>{{ user.username }}</span>
    </li>
    <li>
      <label>Email:</label><input value="{{ user.email|default:'' }}" type="email">
    </li>
    <li>
      <label>Telephone:</label><input value="{{ user.telephone|default:'' }}" type="text">
    </li>
  </ul>



{#  <div id="editor">#}
{#  <textarea v-model="input" debounce="300"></textarea>#}
{#  <div v-html="input | marked"></div>#}
{#</div>#}

{% endblock %}

{% block js %}
  {% compress js %}
    <script src="{% static 'js/profile.js' %}"></script>
  {% endcompress %}
{% endblock %}
