{% extends 'base/base_sidebar.html' %}
{% load static from staticfiles %}
{% load compress %}
{% block title %}{{ user.username }}的账号{% endblock %}
{% block header %}我的资料{% endblock %}
{% block content %}
{#  todo: gravator, 多国语言#}
  <ul>
    <li class="col-md-12">
      <label class="col-md-2">Username:</label>
      <span class="col-md-9">{{ user.username }}</span>
    </li>
    <li>
      <label>Email:</label>
      <span>{{ user.email|default:'' }}</span>
    </li>
    <li>
      <label>姓名:</label>
      <span>{{ user.telephone|default:'' }}</span>
    </li>
    <li>
      <label>身份证号:</label>
      <span>{{ user.idcard_no|default:'' }}</span>
    </li>
    <li>
      <label>Telephone:</label>
      <span>{{ user.telephone|default:'' }}</span>
    </li>
  </ul>



{#  <div id="editor">#}
{#  <textarea v-model="input" debounce="300"></textarea>#}
{#  <div v-html="input | marked"></div>#}
{#</div>#}

{% endblock %}

{% block js %}
  {% compress js %}
    <script src="{% static 'js/profile.js' %}"></script>
  {% endcompress %}
{% endblock %}
