<td style="background-color:#fff"><div class="wui-FileReadList"><div class="text"><div class="txt"><div class="mailMainArea" style="font-size: 14px; font-family: Verdana, 宋体, Helvetica, sans-serif; line-height: 1.66; padding: 8px 10px; margin: 0px;">
  <table cellpadding="0" cellspacing="0" border="0" width="700" style="margin:0 auto;color:#555; font:16px/26px '微软雅黑','宋体',Arail; ">
   <tbody>
    <tr>
     <td style="height:62px; background-color:#019875; padding:10px 0 0 10px;"> <a target="_blank" href="http://linktrace.lagou.com/EventMail/map?t=100000001&amp;EASEYEUID=N132-GYYTMMY-GE2TAMZSHAYTQNBWGAZDMNRRGEYDG-MZQW43DJNZZWQZLOM5AHG2LOMEXGG3Q-30D6E3B4&amp;yiyeoriginalurl=NB2HI4B2F4XXO53XFZWGCZ3POUXGG33N&amp;enc=1" _act="check_domail"><img src="http://www.lagou.com/images/logo_email.png" width="229" height="43" alt="拉勾招聘" style="border:none;margin-left:10px;"></a> </td>
    </tr>
    <tr style="background-color:#fff;">
     <td style="padding:10px 38px;">
      <div style="margin:20px 0;">
        欢迎加入拉勾网
       <br> 你的登录帐号：
       <span style="color:#019875;">新浪微博@Micfan</span>
       <br> 需要绑定的邮箱：
       <span style="color:#019875;">fanlinsheng@sina.cn</span>
      </div> 请于24小时内点击以下链接完成绑定，绑定后即可使用拉勾网的所有功能啦! <br> <a target="_blank" href="http://linktrace.lagou.com/EventMail/map?t=100000002&amp;EASEYEUID=N132-GYYTMMY-GE2TAMZSHAYTQNBWGAZDMNRRGEYDG-MZQW43DJNZZWQZLOM5AHG2LOMEXGG3Q-30D6E3B4&amp;yiyeoriginalurl=NB2HI4B2F4XWCY3DN52W45BONRQWO33VFZRW63JPMFRWG33VNZ2C6YTJNZSEK3LBNFWECY3UNF3GKLTIORWWYP3DN5SGKPJYG4YDMODGME3DEMZZMMYDKY3BMZSTAMTDHEZDKZRSGQZDQOJRGM4TCMTBGUZGMOJSHEZGINJVMFSDQNTGMJSDCNRZGA2WGNTEGQZTA===&amp;enc=1" style="color:#019875; text-decoration:underline;" _act="check_domail">http://account.lagou.com/account/bindEmailActive.html?code=87068fa6239c05cafe02c925f2428913912a52f9292d55ad86fbd16905c6d430</a><br>
      <div style="margin:5px 0 20px 0; font-size:13px;">
        以上链接有效期为24小时，请在有效期内点击链接完成验证。
       <br>如果以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口中。
      </div>
      <div style="font-size:12px; color:#999;line-height:20px;border-top:1px solid #e6e6e6;padding:10px 0;">
        如有任何问题，可以与我们联系，我们将尽快为你解答。
       <br> Email：vivi@lagou.com ，电话：400-605-9900，QQ:800056379
      </div> </td>
    </tr>
    <tr>
     <td style="line-height:30px;text-align:right;font-size:14px;"> 为保证邮箱正常接收，请将service@email.lagou.com添加进你的通讯录</td>
    </tr>
   </tbody>
  </table>
  <img id="1427539562047_Easeye_isOpen" src="http://linktrace.lagou.com/MailLink/LogoImageHandler.jpg?EASEYEUID=N132-GYYTMMY-GE2TAMZSHAYTQNBWGAZDMNRRGEYDG-MZQW43DJNZZWQZLOM5AHG2LOMEXGG3Q-30D6E3B4&amp;" height="1" width="1">


</div></div></div></div></td>